/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 7%);
    color: hsl(0, 0%, 100%);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    pointer-events: none;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    user-select: none;
}




/* Wrapper */
.wrapper {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 60% 40%;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        grid-template-columns: none;
    }
}


/* Card */
.card-aboutMe {
    display: grid;
    place-items: center;
    padding: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 500px;
}



/* Bio */
.bio {
    display: flex;
    flex-direction: row;
    gap: 15px;
align-items: flex-end;
}
.bio img {
    aspect-ratio: 1/1;
    width: 100px;
    border-radius: 6px;
}

.bio p {
    font-size: 1rem;
    font-weight: 400;
}



/* Links */
.profile-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.profile-container .profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile h3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.8);
}

.links-container {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.links-container a {
    position: relative;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    box-shadow: inset 0px 0px 0px 1.5px hsla(0, 0%, 100%, 0.5);
    border-radius: 10px;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 14px;
    overflow: hidden;
    transition: color ease-in .1s, box-shadow linear .1s
}

.links-container a svg {
    width: 24px;
    height: 24px;
    fill: hsla(0, 0%, 100%, 0.5);
    transition: fill ease-in .1s;
}




/* Button Hover */
.links-container a::before {
    content: "";
    background-color: hsl(0, 0%, 92%);
    position: absolute;
    width: 115%;
    aspect-ratio: 1 / 1;
    z-index: -1;
    border-radius: 50%;
    transform: translateY(65%);
    transition: transform cubic-bezier(0, 0, 0, 1) .5s
}

.links-container a:hover,
.links-container a:hover svg {
    color: #000;
    fill: #000;
}

.links-container a:hover::before {
    transform: translateY(0);
}

/* social custom colour */
.links-container a.instagram:hover,
.links-container a.instagram:hover svg,
.links-container a.youtube:hover,
.links-container a.youtube:hover svg {
    box-shadow: inset 0px 0px 0px 0px;
    color: #fff;
    fill: #fff;
}

.links-container .instagram::before {
    /* background: linear-gradient(90deg, #d300c5 0%, #ff0069 50%, #ffd600 100%); */
    background: linear-gradient(90deg, hsl(304, 100%, 43%) -10%, hsl(335, 100%, 43%) 30%, hsl(50, 100%, 43%) 150%);
}

.links-container .youtube::before {
    /* background-color: hsl(0, 100%, 60%); */
    background-color: hsl(0, 60%, 50%);
}




@media only screen and (max-width: 450px) {
    .links-container a::before {
        transform: translateY(70%);
    }

    .bio p, 
    .profile h3 {
        font-size: 14px;
    }
}




/* roadmap */
.roadMap {
    display: flex;
    flex-direction: row;
    border-left: 1px solid hsla(0, 0%, 100%, 0.2);
    min-height: 100vh;
    padding: 40px;
    color: hsl(0, 0%, 100%, 0.8);
}

.roadmap-wrapper {
    width: 100%;
}

.roadMap h1 {
    width: 100%;
    margin-bottom: 16px;
    padding-bottom: 6px;

}

.roadmap-wrapper .active, .roadmap-wrapper .planned {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.roadMap .planned {
    margin-top: 50px;    
}

.roadMap .task {
    position: relative;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    padding: 20px 15px;
    width: 100%;
    border: 1px solid hsla(0, 0%, 100%, 0.1);
}

.roadMap .task h4 {
    margin-bottom: 7px;
}   
.roadMap .task p {
    font-size: 1rem;
    color: hsl(0, 0%, 70%);
    font-weight: 300;
}

@media screen and (max-width: 1024px) {
    .roadMap {
        border-left: none;
        margin-top: 40px;
    }
}